html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", sans-serif;
  color: black;
  background-color: #DCEBF7;
  min-width: 850px;
}

* {
  margin: 0;
  padding: 0;
}

/*#markup {
 float: left;
 width: 46%;
 position: relative;
 left: 52%;
 overflow: hidden;
 }
 #yahoo_input {
 float: left;
 width: 46%;
 position: relative;
 left: 56%;
 overflow: hidden;
 }

 #markup_textarea, #yahoo_input_textarea {
 width: 100%;
 margin: 0px;
 height: 600px;
 resize: none;
 }*/

#vsplitter {
  height: 400px
}
.wrapper {
  background-color: red;
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 40px 0 0 0;
}
#outer_hsplitter {
  height: 100%;
  width: 100%;
}


#toolbar_split {
  background-image: none;
  height: 100%;
  width: 100%;
  background-color: purple;
}
#markup_split {
  background-color: orange;
  background-image: none;
  height: 100%;
  width: 100%;
}
#yahoo_input_split {
  background-color: blue;
  background-image: none;
  height: 100%;
  width: 100%;
}

#yahoo_output_split {
  background-color: green;
  background-image: none;
  height: 100%;
  width: 100%;
}


textarea {
  width: 100%;
  height: 100%;
  resize: none;
  margin: 0 0 0 10px;
  padding: 0;
  border-width: 5px;
}


.split_header {
  /*background-color: navy;*/
  width: 100%;
  margin: 0;
  padding: 0;
}

.label {
  font-size: 1.2em;
  height: 18px;
  bottom: 0;
  padding-top: 6px;
}

.circle {
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.btn .btn-small {
  color: orange;
}

#yahoo_output {
 /* background-color: #C0C0C0;*/
  background-color: #A0A0A0;
  width: 100%;
  height: 100%;
  resize: none;
  margin: 0 0 0 10px;
  padding: 0;
}
























