html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", sans-serif;
  color: black;
  background-color: #DCEBF7;
  min-width: 850px;
}

* {
  margin: 0;
  padding: 0;
}

/*#markup {
 float: left;
 width: 46%;
 position: relative;
 left: 52%;
 overflow: hidden;
 }
 #yahoo_input {
 float: left;
 width: 46%;
 position: relative;
 left: 56%;
 overflow: hidden;
 }

 #markup_textarea, #yahoo_input_textarea {
 width: 100%;
 margin: 0px;
 height: 600px;
 resize: none;
 }*/

#vsplitter {
  height: 400px
}
.wrapper {
  background-color: red;
  height: 100%;
  /*min-height: 100%;*/
}
#outer_hsplitter {
  height: 100%;
  width: 100%;
  /*margin-top: 40px;*/
}